body {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  color: #1A3FC0;
  font-size: 24px;
  line-height: 32px;
}

.container {
  margin: 2% 10% 0 10%;
}

nav > ul {
  display: flex;
  gap: 7%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li > a {
  text-decoration: none;
  color: #757575;
}

.home {
  color: #1A3FC0
}

.title {
  font-size: 80px;
  line-height: 128px;
  margin-top: 100px;
}

.lastWordTitle {
  color: #1A3FC0;
}

.logo {
 margin-top: 70px;
}

.secondRowContainer {
 display: flex;
 gap: 10rem;
}

.thirdRowContainer {
  position: relative;
  margin-top: 100px;
}

.thirdRowContainer > * {
  position: absolute;
}

.rightImage {
  left: 53%;
}

.leftImage:hover, .rightImage:hover {
  transform: scale(0.9);
  transition: all .8s ease-in-out;
}

.midCircle {
  position: absolute;
  left: 22rem;
  top: 7rem;
  z-index: -1;
}

.fire {
  top: 76rem;
  position: absolute;
  display: flex;
  left: 43rem;
}

.rectangle {
  position: relative;
  top: 49rem;
  margin-bottom: 64rem;
}

.rectangle > img {
  position: absolute;
}

.rectangle > .daipy {
  position: absolute;
  top: 0.6rem;
  left: 17rem;
}

.rectangle > .love {
  position: absolute;
  top: 0.6rem;
  left: 48rem;
}

.rectangle > .vs {
  position: absolute;
  left: 35rem;
}