/* default view */

* {box-sizing: border-box}

body {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  background-color: #FFFDFD;
}

.caption {
  font-style: normal;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  font-weight: 400;
}

.text-container > p {
  font-weight: 400;
  margin-bottom: 4%;
  line-height: 21px;
}

.mySlides {display: none}

h2 {
  font-size: 48px;
}

footer {
  margin-top: 16%;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  color: #1A3FC0;
  font-size: 16px;
  line-height: 24px;
}

.container {
  margin: 8% 4% 0% 4%;
}

nav > ul {
  display: flex;
  gap: 8%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li > a {
  text-decoration: none;
  color: #757575;
}

.selectedNav {
  color: #1A3FC0;
}

.title {
  font-size: 32px;
  line-height: 48px;
  margin-top: -12px;
  margin-right: 8%
}

.lastWordTitle {
  color: #1A3FC0;
}

.lottie {
  height: 108px;
}

.logo {
margin-top: 40px;
margin-left: -60%;
}

.secondRowContainer {
display: flex;
flex-direction: column-reverse;
width: 100%;
justify-content: center;
}

img {
  vertical-align: middle;
  width: 100%;
  max-height: 800px;
}

.thirdRowContainer {
  position: sticky;
  margin:auto;
}

.catImagesContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 1rem;
}
.catImage {
  position:relative;
}

.catImage:hover, .catImage:hover {
  transform: scale(0.9);
  transition: all .8s ease-in-out;
}

.midCircle {
  position: absolute;
  top: 30%;
  z-index: -1;
}

.circle {
  position: relative;
  left: -50%;
  top: 30%;
}

.fireContainer {
  top: 68rem;
  display: flex;
  left: 50%;
}

.fire {
  position: relative;
  margin: auto;
  margin-top: 4rem;
}

.rectangle {
  position: relative;
  justify-content: center;
  top: 2rem;
}

.compBg {
  width: 100%;
  height: 100%;
}

.compUI {
  display: flex;
  width: auto;
  justify-content: space-evenly;
}

.rectangle > img {
  position: absolute;
}

.rectangle > .daipy {
  position: absolute;
  top: 0.6rem;
  left: 17rem;
}

.rectangle > .love {
  position: absolute;
  top: 0.6rem;
  left: 48rem;
}

.rectangle > .vs {
  position: absolute;
  left: 35rem;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media (min-width: 598px) {
  .container {
    margin: 8% 4% 20% 4%;
  }

  .secondRowContainer {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: space-between;
  }

  .title {
    font-size: 56px;
    line-height: 64px;
    margin-top: 0px;
    margin-left: 0%;
    width: 56%;
  }

  .logo {
    margin-top: 70px;
  }

  .lottie {
    height: 200px;
  }

  footer {
    margin-top: -3%;
  }
}



@media (min-width: 768px) {
  .container {
    margin: 4% 10% 8% 10%;
  }

  .logo {
    margin-top: 40px;
  }

  .thirdRowContainer {
    position: sticky;
    margin:auto;
    margin-top: 3rem;
  }

  .catImagesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .midCircle {
    position: absolute;
    left: 50%;
    top: 2rem;
    z-index: -1;
  }

  .circle {
    position: relative;
    left: -50%;
  }

  footer {
    margin-top: 4%;
  }
}


@media (min-width: 1200px) {
  body {
    font-size: 16px;
    line-height: 21px;
  }

  .title {
    font-size: 80px;
    line-height: 128px;
    margin-top: 0px;
    margin-left: 0%;
    width: 60%;
  }

  .midCircle {
    position: absolute;
    top: 18%;
    z-index: -1;
  }

  .logo {
    margin-top: 70px;
  }

  .lottie {
    height: 300px;
  }

  footer {
    margin-top: 4%;
  }

}